@use "../../scss/common/Vars" as *;

.header {
    display: grid;
    position: fixed;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: space-between;
    align-items: center;
    background-color: color-mix(in srgb, $lighter-gray 30%, transparent);
    height: $header-height;
    width: 100%;
    padding: 0 60px;
    z-index: 50;
    backdrop-filter: blur(10px);
    box-shadow: 0 20px 20px 0 #00000014;
    border-bottom: 1px solid $thin-gray;
    &__mount {
        width: 100%;
        height: $header-height;
        background-color: $lighter-gray;
    }
    &__logo {
        justify-self: center;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            height: 100%;
            fill: $dark-purple;
        }
    }
    &__links {
        display: flex;
        justify-content: space-between;
        > div {
            display: flex;
            column-gap: 25px;
            row-gap: 5px;
            margin-right: 25px;
            flex-wrap: wrap;
        }
        &__link {
            font-size: 16px;
            text-decoration: none;
            color: $dark-purple;
            white-space: nowrap;
            &:last-child {
                margin-left: 35px;
            }
        }
    }
    &__btns {
        display: flex;
        justify-self: end;
        gap: 10px;
        &__btn {
            position: relative;
            min-width: unset;
            padding: 8px 14px;
            &__count {
                position: absolute;
                bottom: 0;
                background-color: $dark-gray;
                color: $dark-purple;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                min-width: 20px;
                height: 20px;
                right: 50%;
                transform: translate(50%, 100%);
                &__loader {
                    width: 80%;
                    height: 80%;
                    border: 1px solid white;
                    border-left: unset;
                    border-radius: 50%;
                    animation: loader 0.5s forwards linear infinite;
                }
                @keyframes loader {
                    from {
                        transform: rotate(0deg);
                    }
                    to {
                        transform: rotate(360deg);
                    }
                }
            }
            
        }
    }
}