.preloader {
    background-color:black;
    position:fixed;
    width:100vw;
    height:100vh;
    top: 0;
    z-index: 51;
    transition: visibility .1s, opacity .1s;
    &._hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}