@use "../../scss/common/Vars" as *;

.Footer {
    bottom: 0;
    background-color: $lighter-gray;
    height: 255px;
    width: 100%;
    padding-top: 45px;
    border-top: 1px solid $thin-gray;
    .grid {
        display: flex;
        justify-content: space-between;
    }
    &__block {
        display: flex;
        flex-direction: column;
    }
    &__link {
        font-size: 16px;
        text-decoration: none;
        color: $dark-purple;
        margin-bottom: 15px;
    }
    &__logo {
        height: 50px;
        width: 190px;
        svg {
            height: 100%;
            width: 100%;
            fill: $main-light;
        }
    }
    &__form {
        margin-top: 10px;
        background-color: unset;
        border: 1px solid $dark-purple;
        height: 35px;
        border-radius: 5px;
        &__input {
            background-color: unset;
            padding: 0 10px;
            border: none;
            font-size: 16px;
            color: $dark-purple;
            &:focus {
                outline: none;
                border: unset;
            }
            &::placeholder {
                font-size: 16px;
                color: $light-black;
                font-style: italic;
            }
        }
        &__submit {
            background: $dark-purple;
            height: 100%;
            font-size: 16px;
            color: white;
            padding: 0 10px;
            border: none;
            cursor: pointer;
        }
    }
}