@use "../../../scss/common/Vars" as *;

.clipboard-copy {
    width: fit-content;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    transition: .2s all;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    white-space: break-spaces;
    &:hover {
        color: $dark-purple;
    }
    span {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        font-weight: inherit;
    }
    svg {
        width: 10px;
        flex-shrink: 0;
    }
}