@use "../../scss/common/Vars" as *;

.catalog {
    padding: 45px 0;
    &__title {
        display: flex;
        align-items:center;
    }
    &__content {
        margin: 0 -15px;
        margin-top: 5px;
        margin-bottom: 80px;
        display: flex;
        flex-wrap: wrap;
    }
    &__navigation {
        &__btn {
            margin: 0 auto 20px;
        }
    }
    &__categories {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        gap: 10px;
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 6px;
            width: calc((100% / 5) - 3px);
            box-shadow: 0 0 5px #00000033;
            border-radius: 6px;
            border-top: 3px solid $dark-purple;
            border-bottom: 3px solid $dark-purple;
            padding: 15px;
            transition: .2s all;
            &:hover {
                box-shadow: 0 0 5px $dark-purple;
            }
        }
        img {
            height: 200px;
            width: 100%;
            object-fit: contain;
        }
        span {
            text-align: center;
            word-break: break-word;
            margin: 0;
        }
    }
}