$dark-purple: #2a2a2a;
$main-light: #4b4b4b;
$light-black:#4b4b4bcc;
$ghosted-black: #4b4b4b4f;
$gray: #d3d3d3;
$dark-gray: #c1c1c1;
$light-gray: #dbdbdb;
$thin-gray: #cdcdcd;
$lighter-gray: #dfdfdf;
$green: #00bd0a;
$orange: #ff9700;
$red: #c22e2e;

$header-height: 100px;

