$dark-blue: #01003C;
$dark-purple: #971CC3;
$black-purple: #4f046a;
$suberblack-purple:#340346;
$blue-purple: #6f1ee5;
$light-purple: #e8affd;
$grape_purple_4: #81678b;
$grape_purple_5: #af99b7;
$light-black:#4b4b4bcc;
$ghosted-black: #4b4b4b4f;
$gray: #d3d3d3;
$dark-gray: #c1c1c1;
$light-gray: #dbdbdb;
$green: #00bd0a;
$orange: #ff9700;
$red: #c22e2e;
